openapi: 3.0.0
info:
  title: Greenspark Climate Account API
  version: 2.3.0
  description: 'Greenspark Impact-as-a-Service Climate API: create carbon-offset, tree-planting, plastic-recovery and other climate impacts, fetch impact/project data, carbon estimations, reporting, email templates and embeddable impact widgets. Reconstructed by API Evangelist from the provider''s per-endpoint OpenAPI definitions published on docs.getgreenspark.com.'
  contact:
    name: Greenspark Support
    email: support@getgreenspark.com
    url: https://www.getgreenspark.com
servers:
- url: https://api.getgreenspark.com
  description: Production
- url: https://sandbox.getgreenspark.com
  description: Sandbox
- url: https://demo-api.getgreenspark.com
  description: Demo
security:
- ApiKeyAuth: []
tags:
- name: Account
paths:
  /v1/accounts/community:
    get:
      description: Fetches the Greenspark community public profile. Callable via ReadMe MCP execute-request when this route is enabled in ReadMe MCP route toggles.
      operationId: getCommunityPublicAccount
      parameters: []
      responses:
        '200':
          description: The Greenspark community's public information is fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityAccount'
        '400':
          description: Bad request.
        '401':
          description: Provide a valid x-api-key header. Keys are created in the Greenspark dashboard after registration (separate key per environment).
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Community Public Account
      tags:
      - Account
  /v1/accounts/public/{publicAccountId}:
    get:
      deprecated: true
      description: Deprecated — use getPublicAccountV2 (GET /v2/accounts/public/{publicAccountId}).
      operationId: getPublicAccount
      parameters:
      - name: publicAccountId
        required: true
        in: path
        description: The public id of an account.
        schema:
          type: string
      responses:
        '200':
          description: The account's public information is fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAccount'
        '400':
          description: Bad request.
        '401':
          description: Provide a valid x-api-key header. Keys are created in the Greenspark dashboard after registration (separate key per environment).
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Public Account
      tags:
      - Account
  /v2/accounts/public/{publicAccountId}:
    get:
      description: Canonical public account endpoint. Returns impacts and comparisons by project. Accepts all standard API key types. Callable via ReadMe MCP execute-request when this route is enabled in ReadMe MCP route toggles.
      operationId: getPublicAccountV2
      parameters:
      - name: publicAccountId
        required: true
        in: path
        description: The public id of an account.
        schema:
          type: string
      responses:
        '200':
          description: The account's public information is fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAccountV2'
        '400':
          description: Bad request.
        '401':
          description: Provide a valid x-api-key header. Keys are created in the Greenspark dashboard after registration (separate key per environment).
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Public Account V2
      tags:
      - Account
components:
  schemas:
    CarbonComparisonByProject:
      type: object
      properties:
        amount:
          type: number
          description: The amount of the comparison calculation.
          example: 14
        description:
          type: string
          description: The description of the comparison.
          example: This is a comparison description.
        link:
          type: string
          description: The link which contains information on the comparison calculation.
          example: example.com
        amountDescription:
          type: string
          description: Short summary of the comparison equivalent description provided by the link.
          example: This is a short summary.
        suffix:
          type: string
          description: The unit of the comparison.
          nullable: true
          example: ha
        type:
          type: string
          description: Impact type.
          enum:
          - carbon
          example: carbon
        projectId:
          type: string
          description: The ID of the project.
          example: 7b726bbc-b121-4432-96d8-30d507a19664
          enum:
          - 596f61ee-7149-43ac-ba4e-efb90ee3bd47
          - 7accc260-ab82-4c51-a959-e6736284c45a
          - 9deda055-cd6d-4ebe-b343-4c9b73ccf2d6
          - c6e4b1bf-843e-4859-bc85-c3b764f507e6
          - a0636f61-c9a4-4e42-ad34-26155f3dd827
          - 6b0add6d-246f-4a22-a072-3469eb65b225
          - 7b726bbc-b121-4432-96d8-30d507a19664
          - 6b563fc1-033b-40ea-89b7-c8702b74b5af
          - bd5df270-6223-46e1-baf1-04d7e20f429f
          - fed92a6e-1842-43bc-9510-a8b93e7d910a
          - 14f00fb9-3a8e-4b36-9385-ddb606d3bb41
          - 9be7083e-be8b-4608-96d0-a526445b4667
        unit:
          type: string
          description: The carbon comparison unit.
          example: flights
          enum:
          - flights
          - distance
          - plantBased
      required:
      - amount
      - description
      - link
      - amountDescription
      - type
      - projectId
      - unit
    PlasticComparisonByProject:
      type: object
      properties:
        amount:
          type: number
          description: The amount of the comparison calculation.
          example: 14
        description:
          type: string
          description: The description of the comparison.
          example: This is a comparison description.
        link:
          type: string
          description: The link which contains information on the comparison calculation.
          example: example.com
        amountDescription:
          type: string
          description: Short summary of the comparison equivalent description provided by the link.
          example: This is a short summary.
        suffix:
          type: string
          description: The unit of the comparison.
          nullable: true
          example: ha
        type:
          type: string
          description: Impact type.
          enum:
          - plastic
          example: plastic
        projectId:
          type: string
          description: The ID of the project.
          example: 7b726bbc-b121-4432-96d8-30d507a19664
          enum:
          - 596f61ee-7149-43ac-ba4e-efb90ee3bd47
          - 7accc260-ab82-4c51-a959-e6736284c45a
          - 9deda055-cd6d-4ebe-b343-4c9b73ccf2d6
          - c6e4b1bf-843e-4859-bc85-c3b764f507e6
          - a0636f61-c9a4-4e42-ad34-26155f3dd827
          - 6b0add6d-246f-4a22-a072-3469eb65b225
          - 7b726bbc-b121-4432-96d8-30d507a19664
          - 6b563fc1-033b-40ea-89b7-c8702b74b5af
          - bd5df270-6223-46e1-baf1-04d7e20f429f
          - fed92a6e-1842-43bc-9510-a8b93e7d910a
          - 14f00fb9-3a8e-4b36-9385-ddb606d3bb41
          - 9be7083e-be8b-4608-96d0-a526445b4667
        unit:
          type: string
          description: The plastic comparison unit.
          example: straws
          enum:
          - straws
          - coffeeCups
          - bathtubs
      required:
      - amount
      - description
      - link
      - amountDescription
      - type
      - projectId
      - unit
    BeesComparison:
      type: object
      properties:
        amount:
          type: number
          description: The amount of the comparison calculation.
          example: 14
        description:
          type: string
          description: The description of the comparison.
          example: This is a comparison description.
        link:
          type: string
          description: The link which contains information on the comparison calculation.
          example: example.com
        amountDescription:
          type: string
          description: Short summary of the comparison equivalent description provided by the link.
          example: This is a short summary.
        suffix:
          type: string
          description: The unit of the comparison.
          nullable: true
          example: ha
        type:
          type: string
          description: Impact type.
          enum:
          - bees
          example: bees
        unit:
          type: string
          description: The bees comparison unit.
          example: hives
          enum:
          - hives
          - honey
          - flowers
      required:
      - amount
      - description
      - link
      - amountDescription
      - type
      - unit
    KelpComparison:
      type: object
      properties:
        amount:
          type: number
          description: The amount of the comparison calculation.
          example: 14
        description:
          type: string
          description: The description of the comparison.
          example: This is a comparison description.
        link:
          type: string
          description: The link which contains information on the comparison calculation.
          example: example.com
        amountDescription:
          type: string
          description: Short summary of the comparison equivalent description provided by the link.
          example: This is a short summary.
        suffix:
          type: string
          description: The unit of the comparison.
          nullable: true
          example: ha
        type:
          type: string
          description: Impact type.
          enum:
          - kelp
          example: kelp
        unit:
          type: string
          description: The kelp comparison unit.
          example: iceHockeyRinks
          enum:
          - iceHockeyRinks
          - carbonSequestered
          - babyWhales
      required:
      - amount
      - description
      - link
      - amountDescription
      - type
      - unit
    TreeComparisonByProject:
      type: object
      properties:
        amount:
          type: number
          description: The amount of the comparison calculation.
          example: 14
        description:
          type: string
          description: The description of the comparison.
          example: This is a comparison description.
        link:
          type: string
          description: The link which contains information on the comparison calculation.
          example: example.com
        amountDescription:
          type: string
          description: Short summary of the comparison equivalent description provided by the link.
          example: This is a short summary.
        suffix:
          type: string
          description: The unit of the comparison.
          nullable: true
          example: ha
        type:
          type: string
          description: Impact type.
          enum:
          - trees
          example: trees
        projectId:
          type: string
          description: The ID of the project.
          example: 7b726bbc-b121-4432-96d8-30d507a19664
          enum:
          - 596f61ee-7149-43ac-ba4e-efb90ee3bd47
          - 7accc260-ab82-4c51-a959-e6736284c45a
          - 9deda055-cd6d-4ebe-b343-4c9b73ccf2d6
          - c6e4b1bf-843e-4859-bc85-c3b764f507e6
          - a0636f61-c9a4-4e42-ad34-26155f3dd827
          - 6b0add6d-246f-4a22-a072-3469eb65b225
          - 7b726bbc-b121-4432-96d8-30d507a19664
          - 6b563fc1-033b-40ea-89b7-c8702b74b5af
          - bd5df270-6223-46e1-baf1-04d7e20f429f
          - fed92a6e-1842-43bc-9510-a8b93e7d910a
          - 14f00fb9-3a8e-4b36-9385-ddb606d3bb41
          - 9be7083e-be8b-4608-96d0-a526445b4667
        unit:
          type: string
          description: The tree comparison unit.
          example: areaPlanted
          enum:
          - areaPlanted
          - carbonSequestered
          - footballPitches
      required:
      - amount
      - description
      - link
      - amountDescription
      - type
      - projectId
      - unit
    PlasticComparison:
      type: object
      properties:
        amount:
          type: number
          description: The amount of the comparison calculation.
          example: 14
        description:
          type: string
          description: The description of the comparison.
          example: This is a comparison description.
        link:
          type: string
          description: The link which contains information on the comparison calculation.
          example: example.com
        amountDescription:
          type: string
          description: Short summary of the comparison equivalent description provided by the link.
          example: This is a short summary.
        suffix:
          type: string
          description: The unit of the comparison.
          nullable: true
          example: ha
        type:
          type: string
          description: Impact type.
          enum:
          - plastic
          example: plastic
        unit:
          type: string
          description: The plastic comparison unit.
          example: straws
          enum:
          - straws
          - coffeeCups
          - bathtubs
      required:
      - amount
      - description
      - link
      - amountDescription
      - type
      - unit
    PublicAccountV2:
      type: object
      properties:
        comparisons:
          type: array
          description: The comparisons array defines the impacts equivalents.
          items:
            oneOf:
            - $ref: '#/components/schemas/CarbonComparison'
            - $ref: '#/components/schemas/PlasticComparison'
            - $ref: '#/components/schemas/TreeComparison'
            - $ref: '#/components/schemas/KelpComparison'
            - $ref: '#/components/schemas/WaterComparison'
            - $ref: '#/components/schemas/BeesComparison'
        name:
          type: string
          description: The account name.
          example: ACME
          nullable: false
        signupDate:
          type: string
          description: The account signup date.
          example: '2021-01-01T00:00:00.000Z'
          nullable: false
        accountType:
          type: string
          description: The account type.
          example: business
          enum:
          - business
          - personal
          - family
        impacts:
          type: array
          description: The impacts array defines the account's impacts.
          items:
            oneOf:
            - $ref: '#/components/schemas/AccountImpactV2'
            - $ref: '#/components/schemas/RelationImpactV2'
            - $ref: '#/components/schemas/TransferredImpact'
            - $ref: '#/components/schemas/ImpactActionImpactV2'
        comparisonsByProject:
          type: array
          description: The comparisons array defines the impacts equivalents per project.
          items:
            oneOf:
            - $ref: '#/components/schemas/CarbonComparisonByProject'
            - $ref: '#/components/schemas/PlasticComparisonByProject'
            - $ref: '#/components/schemas/TreeComparisonByProject'
            - $ref: '#/components/schemas/KelpComparisonByProject'
            - $ref: '#/components/schemas/WaterComparisonByProject'
            - $ref: '#/components/schemas/BeesComparisonByProject'
      required:
      - comparisons
      - name
      - signupDate
      - accountType
      - impacts
      - comparisonsByProject
    CarbonComparison:
      type: object
      properties:
        amount:
          type: number
          description: The amount of the comparison calculation.
          example: 14
        description:
          type: string
          description: The description of the comparison.
          example: This is a comparison description.
        link:
          type: string
          description: The link which contains information on the comparison calculation.
          example: example.com
        amountDescription:
          type: string
          description: Short summary of the comparison equivalent description provided by the link.
          example: This is a short summary.
        suffix:
          type: string
          description: The unit of the comparison.
          nullable: true
          example: ha
        type:
          type: string
          description: Impact type.
          enum:
          - carbon
          example: carbon
        unit:
          type: string
          description: The carbon comparison unit.
          example: flights
          enum:
          - flights
          - distance
          - plantBased
      required:
      - amount
      - description
      - link
      - amountDescription
      - type
      - unit
    WaterComparison:
      type: object
      properties:
        amount:
          type: number
          description: The amount of the comparison calculation.
          example: 14
        description:
          type: string
          description: The description of the comparison.
          example: This is a comparison description.
        link:
          type: string
          description: The link which contains information on the comparison calculation.
          example: example.com
        amountDescription:
          type: string
          description: Short summary of the comparison equivalent description provided by the link.
          example: This is a short summary.
        suffix:
          type: string
          description: The unit of the comparison.
          nullable: true
          example: ha
        type:
          type: string
          description: Impact type.
          enum:
          - water
          example: water
        unit:
          type: string
          description: The water comparison unit.
          example: litres
          enum:
          - litres
          - fetchingWater
          - brighterEducation
      required:
      - amount
      - description
      - link
      - amountDescription
      - type
      - unit
    ImpactActionImpactV2:
      type: object
      properties:
        type:
          type: string
          description: The impact type.
          example: carbon
          enum:
          - trees
          - carbon
          - plastic
          - kelp
          - water
          - bees
        amount:
          type: number
          description: The impact amount.
          example: 100
        source:
          type: string
          description: The impact source.
          example: impactAction
          enum:
          - impactAction
        projectId:
          type: string
          description: The project id of the impact.
          example: c6e4b1bf-843e-4859-bc85-c3b764f507e6
      required:
      - type
      - amount
      - source
      - projectId
    RelationImpact:
      type: object
      properties:
        type:
          type: string
          description: The impact type.
          example: carbon
          enum:
          - trees
          - carbon
          - plastic
          - kelp
          - water
          - bees
        amount:
          type: number
          description: The impact amount.
          example: 100
        source:
          type: string
          description: The impact source.
          example: relation
          enum:
          - relation
      required:
      - type
      - amount
      - source
    WaterComparisonByProject:
      type: object
      properties:
        amount:
          type: number
          description: The amount of the comparison calculation.
          example: 14
        description:
          type: string
          description: The description of the comparison.
          example: This is a comparison description.
        link:
          type: string
          description: The link which contains information on the comparison calculation.
          example: example.com
        amountDescription:
          type: string
          description: Short summary of the comparison equivalent description provided by the link.
          example: This is a short summary.
        suffix:
          type: string
          description: The unit of the comparison.
          nullable: true
          example: ha
        type:
          type: string
          description: Impact type.
          enum:
          - water
          example: water
        projectId:
          type: string
          description: The ID of the project.
          example: 7b726bbc-b121-4432-96d8-30d507a19664
          enum:
          - 596f61ee-7149-43ac-ba4e-efb90ee3bd47
          - 7accc260-ab82-4c51-a959-e6736284c45a
          - 9deda055-cd6d-4ebe-b343-4c9b73ccf2d6
          - c6e4b1bf-843e-4859-bc85-c3b764f507e6
          - a0636f61-c9a4-4e42-ad34-26155f3dd827
          - 6b0add6d-246f-4a22-a072-3469eb65b225
          - 7b726bbc-b121-4432-96d8-30d507a19664
          - 6b563fc1-033b-40ea-89b7-c8702b74b5af
          - bd5df270-6223-46e1-baf1-04d7e20f429f
          - fed92a6e-1842-43bc-9510-a8b93e7d910a
          - 14f00fb9-3a8e-4b36-9385-ddb606d3bb41
          - 9be7083e-be8b-4608-96d0-a526445b4667
        unit:
          type: string
          description: The water comparison unit.
          example: litres
          enum:
          - litres
          - fetchingWater
          - brighterEducation
      required:
      - amount
      - description
      - link
      - amountDescription
      - type
      - projectId
      - unit
    BeesComparisonByProject:
      type: object
      properties:
        amount:
          type: number
          description: The amount of the comparison calculation.
          example: 14
        description:
          type: string
          description: The description of the comparison.
          example: This is a comparison description.
        link:
          type: string
          description: The link which contains information on the comparison calculation.
          example: example.com
        amountDescription:
          type: string
          description: Short summary of the comparison equivalent description provided by the link.
          example: This is a short summary.
        suffix:
          type: string
          description: The unit of the comparison.
          nullable: true
          example: ha
        type:
          type: string
          description: Impact type.
          enum:
          - bees
          example: bees
        projectId:
          type: string
          description: The ID of the project.
          example: 7b726bbc-b121-4432-96d8-30d507a19664
          enum:
          - 596f61ee-7149-43ac-ba4e-efb90ee3bd47
          - 7accc260-ab82-4c51-a959-e6736284c45a
          - 9deda055-cd6d-4ebe-b343-4c9b73ccf2d6
          - c6e4b1bf-843e-4859-bc85-c3b764f507e6
          - a0636f61-c9a4-4e42-ad34-26155f3dd827
          - 6b0add6d-246f-4a22-a072-3469eb65b225
          - 7b726bbc-b121-4432-96d8-30d507a19664
          - 6b563fc1-033b-40ea-89b7-c8702b74b5af
          - bd5df270-6223-46e1-baf1-04d7e20f429f
          - fed92a6e-1842-43bc-9510-a8b93e7d910a
          - 14f00fb9-3a8e-4b36-9385-ddb606d3bb41
          - 9be7083e-be8b-4608-96d0-a526445b4667
        unit:
          type: string
          description: The bees comparison unit.
          example: hives
          enum:
          - hives
          - honey
          - flowers
      required:
      - amount
      - description
      - link
      - amountDescription
      - type
      - projectId
      - unit
    ImpactActionImpact:
      type: object
      properties:
        type:
          type: string
          description: The impact type.
          example: carbon
          enum:
          - trees
          - carbon
          - plastic
          - kelp
          - water
          - bees
        amount:
          type: number
          description: The impact amount.
          example: 100
        source:
          type: string
          description: The impact source.
          example: impactAction
          enum:
          - impactAction
      required:
      - type
      - amount
      - source
    KelpComparisonByProject:
      type: object
      properties:
        amount:
          type: number
          description: The amount of the comparison calculation.
          example: 14
        description:
          type: string
          description: The description of the comparison.
          example: This is a comparison description.
        link:
          type: string
          description: The link which contains information on the comparison calculation.
          example: example.com
        amountDescription:
          type: string
          description: Short summary of the comparison equivalent description provided by the link.
          example: This is a short summary.
        suffix:
          type: string
          description: The unit of the comparison.
          nullable: true
          example: ha
        type:
          type: string
          description: Impact type.
          enum:
          - kelp
          example: kelp
        projectId:
          type: string
          description: The ID of the project.
          example: 7b726bbc-b121-4432-96d8-30d507a19664
          enum:
          - 596f61ee-7149-43ac-ba4e-efb90ee3bd47
          - 7accc260-ab82-4c51-a959-e6736284c45a
          - 9deda055-cd6d-4ebe-b343-4c9b73ccf2d6
          - c6e4b1bf-843e-4859-bc85-c3b764f507e6
          - a0636f61-c9a4-4e42-ad34-26155f3dd827
          - 6b0add6d-246f-4a22-a072-3469eb65b225
          - 7b726bbc-b121-4432-96d8-30d507a19664
          - 6b563fc1-033b-40ea-89b7-c8702b74b5af
          - bd5df270-6223-46e1-baf1-04d7e20f429f
          - fed92a6e-1842-43bc-9510-a8b93e7d910a
          - 14f00fb9-3a8e-4b36-9385-ddb606d3bb41
          - 9be7083e-be8b-4608-96d0-a526445b4667
        unit:
          type: string
          description: The kelp comparison unit.
          example: iceHockeyRinks
          enum:
          - iceHockeyRinks
          - carbonSequestered
          - babyWhales
      required:
      - amount
      - description
      - link
      - amountDescription
      - type
      - projectId
      - unit
    AccountImpactV2:
      type: object
      properties:
        type:
          type: string
          description: The impact type.
          example: carbon
          enum:
          - trees
          - carbon
          - plastic
          - kelp
          - water
          - bees
        amount:
          type: number
          description: The impact amount.
          example: 100
        source:
          type: string
          description: The impact source.
          example: account
          enum:
          - account
        projectId:
          type: string
          description: The project id of the impact.
          example: c6e4b1bf-843e-4859-bc85-c3b764f507e6
      required:
      - type
      - amount
      - source
      - projectId
    TreeComparison:
      type: object
      properties:
        amount:
          type: number
          description: The amount of the comparison calculation.
          example: 14
        description:
          type: string
          description: The description of the comparison.
          example: This is a comparison description.
        link:
          type: string
          description: The link which contains information on the comparison calculation.
          example: example.com
        amountDescription:
          type: string
          description: Short summary of the comparison equivalent description provided by the link.
          example: This is a short summary.
        suffix:
          type: string
          description: The unit of the comparison.
          nullable: true
          example: ha
        type:
          type: string
          description: Impact type.
          enum:
          - trees
          example: trees
        unit:
          type: string
          description: The tree comparison unit.
          example: areaPlanted
          enum:
          - areaPlanted
          - carbonSequestered
          - footballPitches
      required:
      - amount
      - description
      - link
      - amountDescription
      - type
      - unit
    CommunityAccount:
      type: object
      properties:
        comparisons:
          type: array
          description: The comparisons array defines the impacts equivalents.
          items:
            oneOf:
            - $ref: '#/components/schemas/CarbonComparison'
            - $ref: '#/components/schemas/PlasticComparison'
            - $ref: '#/components/schemas/TreeComparison'
            - $ref: '#/components/schemas/KelpComparison'
            - $ref: '#/components/schemas/WaterComparison'
            - $ref: '#/components/schemas/BeesComparison'
        impacts:
          type: array
          description: The impacts array defines the Greenspark community account's impacts.
          items:
            oneOf:
            - $ref: '#/components/schemas/AccountImpactV2'
            - $ref: '#/components/schemas/RelationImpactV2'
      required:
      - comparisons
      - impacts
    AccountImpact:
      type: object
      properties:
        type:
          type: string
          description: The impact type.
          example: carbon
          enum:
          - trees
          - carbon
          - plastic
          - kelp
          - water
          - bees
        amount:
          type: number
          description: The impact amount.
          example: 100
        source:
          type: string
          description: The impact source.
          example: account
          enum:
          - account
      required:
      - type
      - amount
      - source
    TransferredImpact:
      type: object
      properties:
        type:
          type: string
          description: The impact type.
          example: carbon
          enum:
          - trees
          - carbon
          - plastic
          - kelp
          - water
          - bees
        amount:
          type: number
          description: The impact amount.
          example: 100
        source:
          type: string
          description: The impact source.
          example: transferred
          enum:
          - transferred
        urls:
          description: The urls to the transferred impacts' invoices.
          example:
          - example.com/image.png
          type: array
          items:
            type: string
      required:
      - type
      - amount
      - source
      - urls
    PublicAccount:
      type: object
      properties:
        comparisons:
          type: array
          description: The comparisons array defines the impacts equivalents.
          items:
            oneOf:
            - $ref: '#/components/schemas/CarbonComparison'
            - $ref: '#/components/schemas/PlasticComparison'
            - $ref: '#/components/schemas/TreeComparison'
            - $ref: '#/components/schemas/KelpComparison'
            - $ref: '#/components/schemas/WaterComparison'
            - $ref: '#/components/schemas/BeesComparison'
        name:
          type: string
          description: The account name.
          example: ACME
          nullable: false
        signupDate:
          type: string
          description: The account signup date.
          example: '2021-01-01T00:00:00.000Z'
          nullable: false
        accountType:
          type: string
          description: The account type.
          example: business
          enum:
          - business
          - personal
          - family
        impacts:
          type: array
          description: The impacts array defines the account's impacts.
          items:
            oneOf:
            - $ref: '#/components/schemas/AccountImpact'
            - $ref: '#/components/schemas/RelationImpact'
            - $ref: '#/components/schemas/TransferredImpact'
            - $ref: '#/components/schemas/ImpactActionImpact'
      required:
      - comparisons
      - name
      - signupDate
      - accountType
      - impacts
    RelationImpactV2:
      type: object
      properties:
        type:
          type: string
          description: The impact type.
          example: carbon
          enum:
          - trees
          - carbon
          - plastic
          - kelp
          - water
          - bees
        amount:
          type: number
          description: The impact amount.
          example: 100
        source:
          type: string
          description: The impact source.
          example: relation
          enum:
          - relation
        projectId:
          type: string
          description: The project id of the impact.
          example: c6e4b1bf-843e-4859-bc85-c3b764f507e6
      required:
      - type
      - amount
      - source
      - projectId
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: 'Greenspark API key. Match key to host: sandbox key -> sandbox host, production key -> production host.'
