openapi: 3.0.0
info:
  title: Greenspark Climate API
  version: 2.3.0
  description: 'Greenspark Impact-as-a-Service Climate API: create carbon-offset, tree-planting, plastic-recovery
    and other climate impacts, fetch impact/project data, carbon estimations, reporting, email templates
    and embeddable impact widgets. Reconstructed by API Evangelist from the provider''s per-endpoint OpenAPI
    definitions published on docs.getgreenspark.com.'
  contact:
    name: Greenspark Support
    email: support@getgreenspark.com
    url: https://www.getgreenspark.com
servers:
- url: https://api.getgreenspark.com
  description: Production
- url: https://sandbox.getgreenspark.com
  description: Sandbox
- url: https://demo-api.getgreenspark.com
  description: Demo
security:
- ApiKeyAuth: []
paths:
  /v1/email/domains:
    post:
      deprecated: true
      description: Deprecated — redirects to v2. Use addDomainV2.
      operationId: addDomain
      parameters: []
      responses:
        '200':
          description: Domain has been successfully added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomainDto'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a growth, premium or enterprise plan.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Add Domain
      tags:
      - Email
    get:
      deprecated: true
      description: Deprecated — redirects to v2. Use fetchDomainsV2.
      operationId: fetchDomains
      parameters: []
      responses:
        '200':
          description: Domains has been successfully queried.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomDomainDto'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a growth, premium or enterprise plan.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Fetch Domains
      tags:
      - Email
  /v2/email/domains:
    post:
      description: Add your domain and receive the DNS records that must be added to your domain.
      operationId: addDomainV2
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDomainRequestBody'
      responses:
        '200':
          description: Domain has been successfully added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomainDto'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a growth, premium or enterprise plan.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Add Domain
      tags:
      - Email
    get:
      description: Fetch your previously added domains.
      operationId: fetchDomainsV2
      parameters: []
      responses:
        '200':
          description: Domains has been successfully queried.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomDomainDto'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a growth, premium or enterprise plan.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Fetch Domains
      tags:
      - Email
  /v1/email/templates:
    post:
      deprecated: true
      description: Deprecated — redirects to v2. Use addTemplateV2. Add your notification template for
        email sending. If you do not want a customizable property to be custom, you should provide the
        default value for that property.
      operationId: addTemplate
      parameters: []
      responses:
        '200':
          description: Notification template has been successfully added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTemplateResponseDto'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a growth, premium or enterprise plan.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Add Template
      tags:
      - Email
    get:
      deprecated: true
      description: Deprecated — redirects to v2. Use fetchTemplatesV2.
      operationId: fetchTemplates
      parameters: []
      responses:
        '200':
          description: Templates has been successfully queried.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotificationTemplateResponseDto'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a growth, premium or enterprise plan.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Fetch Templates
      tags:
      - Email
  /v2/email/templates:
    post:
      description: Add your notification template for email sending. If you do not want a customizable
        property to be custom, you should provide the default value for that property. You can get the
        default values for every template type from the templates-defaults endpoint.
      operationId: addTemplateV2
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationTemplateRequestDto'
      responses:
        '200':
          description: Notification template has been successfully added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTemplateResponseDto'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a growth, premium or enterprise plan.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Add Template
      tags:
      - Email
    get:
      description: Fetch templates for email sending.
      operationId: fetchTemplatesV2
      parameters: []
      responses:
        '200':
          description: Templates has been successfully queried.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotificationTemplateResponseDto'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a growth, premium or enterprise plan.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Fetch Templates
      tags:
      - Email
  /v2/widgets/by-percentage-of-revenue-widget:
    post:
      summary: By percentage of revenue widget v2
      description: Fetching a widget that describes a given store’s by percentage of revenue impact settings.
      operationId: by-percentage-of-revenue-widget-v2
      parameters:
      - name: lng
        in: query
        description: 'Set the widget''s language. Currently supported languages are: English (en), German
          (de)'
        schema:
          type: string
          default: en
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - integrationSlug
              - color
              properties:
                integrationSlug:
                  type: string
                  description: 'The name of your store as it is saved in Greenspark. For example: example.myshopify.com'
                  default: YOUR-SHOP-NAME
                color:
                  type: string
                  description: 'Set the widget colour. Current options include: "beige" | "green" | "blue"
                    | "white" | "black" | "grey" | "transparent"'
                  default: green
                withPopup:
                  type: boolean
                  description: Adds a popup for the response, triggered by clicking on the widget
                  default: false
                style:
                  type: string
                  description: 'Select if you want the default style (displayed above) or if you want
                    a simplified version. Current options include: "default" | "simplified"'
                  default: default
                popupTheme:
                  type: string
                  description: Selects the color theme for the popup. Only applies if `withPopup` is set
                    to `true`
                  default: light
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Widgets
  /v2/widgets/by-percentage-widget:
    post:
      summary: By percentage widget v2
      description: Fetching a widget that describes a given store’s by percentage impact settings.
      operationId: by-percentage-widget-v2
      parameters:
      - name: lng
        in: query
        description: 'Set the widget''s language. Currently supported languages are: English (en), German
          (de)'
        schema:
          type: string
          default: en
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - integrationSlug
              - color
              properties:
                integrationSlug:
                  type: string
                  description: 'The name of your store as it is saved in Greenspark. For example: example.myshopify.com'
                  default: YOUR-SHOP-NAME
                color:
                  type: string
                  description: 'Set the widget colour. Current options include: "beige" | "green" | "blue"
                    | "white" | "black" | "grey" | "transparent"'
                  default: green
                withPopup:
                  type: boolean
                  description: Adds a popup for the response, triggered by clicking on the widget
                  default: false
                style:
                  type: string
                  description: 'Select if you want the default style (displayed above) or if you want
                    a simplified version. Current options include: "default" | "simplified"'
                  default: default
                popupTheme:
                  type: string
                  description: Selects the color theme for the popup. Only applies if `withPopup` is set
                    to `true`
                  default: light
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Widgets
  /widgets/by-percentage-widget:
    post:
      summary: By percentage widget
      description: Fetching a widget that describes a given store’s by percentage impact settings.
      operationId: by-percentage-widget
      parameters:
      - name: lng
        in: query
        description: 'Set the widget''s language. Currently supported languages are: English (en), German
          (de)'
        schema:
          type: string
          default: en
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - shopUniqueName
              - color
              properties:
                shopUniqueName:
                  type: string
                  description: 'The name of your store as it is saved in Greenspark. For example: example.myshopify.com'
                  default: YOUR-SHOP-NAME
                color:
                  type: string
                  description: 'Set the widget colour. Current options include: "beige" | "green" | "blue"
                    | "white" | "black"'
                  default: green
                withPopup:
                  type: boolean
                  description: Adds a popup for the response, triggered by clicking on the widget
                  default: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Widgets
  /v2/widgets/cart-widget:
    post:
      summary: Cart widget v2
      description: Fetching a widget that describes the impact made by the products placed in the cart.
      operationId: cart-widget-v2
      parameters:
      - name: lng
        in: query
        description: 'Set the widget''s language. Currently supported languages are: English (en), German
          (de)'
        schema:
          type: string
          default: en
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - integrationSlug
              - color
              - order
              properties:
                integrationSlug:
                  type: string
                  description: 'The name of your store as it is saved in Greenspark. For example: example.myshopify.com'
                  default: YOUR-SHOP-NAME
                color:
                  type: string
                  description: 'Set the widget colour. Current options include: "beige" | "green" | "blue"
                    | "white" | "black" | "grey" | "transparent"'
                  default: green
                order:
                  type: object
                  description: Specify the order data to show the correct impact totals in the widget.
                  properties:
                    currency:
                      type: string
                      description: 'This is the order''s currency. For example: "USD" | "GBP" | "EUR"
                        | "AUD" | "NZD"'
                      default: USD
                    totalPrice:
                      type: integer
                      description: Specify the total price of the order as a number in cents.
                      default: 100
                      format: int32
                    lineItems:
                      type: array
                      description: These are all of the products that a customer has in their cart.
                      items:
                        properties:
                          productId:
                            type: string
                            description: Specify the product id of the item in the cart.
                            default: PRODUCT ID OF CART ITEM
                          quantity:
                            type: integer
                            description: Specify the quantity of the product in the cart.
                            default: 1
                            format: int32
                        type: object
                withPopup:
                  type: boolean
                  description: Adds a popup for the response, triggered by clicking on the widget
                  default: false
                style:
                  type: string
                  description: 'Select if you want the default style (displayed above) or if you want
                    a simplified version. Current options include: "default" | "simplified"'
                  default: default
                popupTheme:
                  type: string
                  description: Selects the color theme for the popup. Only applies if `withPopup` is set
                    to `true`
                  default: light
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Widgets
  /widgets/cart-widget:
    post:
      summary: Cart widget
      description: Fetching a widget that describes the impact made by the products placed in the cart.
      operationId: cart-widget
      parameters:
      - name: lng
        in: query
        description: 'Set the widget''s language. Currently supported languages are: English (en), German
          (de)'
        schema:
          type: string
          default: en
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - shopUniqueName
              - color
              - order
              properties:
                shopUniqueName:
                  type: string
                  description: 'The name of your store as it is saved in Greenspark. For example: example.myshopify.com'
                  default: YOUR-SHOP-NAME
                color:
                  type: string
                  description: 'Set the widget colour. Current options include: "beige" | "green" | "blue"
                    | "white" | "black"'
                  default: green
                order:
                  type: object
                  description: Specify the order data to show the correct impact totals in the widget.
                  properties:
                    currency:
                      type: string
                      description: 'This is the order''s currency. For example: "USD" | "GBP" | "EUR"
                        | "AUD" | "NZD"'
                      default: USD
                    totalPrice:
                      type: integer
                      description: Specify the total price of the order as a number in cents.
                      default: 100
                      format: int32
                    lineItems:
                      type: array
                      description: These are all of the products that a customer has in their cart.
                      items:
                        properties:
                          productId:
                            type: string
                            description: Specify the product id of the item in the cart.
                            default: PRODUCT ID OF CART ITEM
                          quantity:
                            type: integer
                            description: Specify the quantity of the product in the cart.
                            default: 1
                            format: int32
                        type: object
                withPopup:
                  type: boolean
                  description: Adds a popup for the response, triggered by clicking on the widget
                  default: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl --request POST \\\n     --url 'https://api.getgreenspark.com/widgets/cart-widget?lng=en'\
            \ \\\n     --header 'accept: text/html' \\\n     --header 'content-type: application/json'\
            \ \\\n     --header 'x-api-key: \"YOUR-API-KEY\"' \\\n     --data '\n{\n  \"shopUniqueName\"\
            : \"YOUR-SHOP-NAME\",\n  \"color\": \"green\",\n  \"order\": {\n    \"currency\": \"USD\"\
            ,\n    \"totalPrice\": 100,\n    \"lineItems\": [\n\t\t\t{\n      \t\"productId\": \"YOUR-PRODUCT-ID\"\
            ,\n        \"quantity\": 1\n\t\t\t}\n\t\t]\n  },\n  \"withPopup\": false\n}\n'"
        samples-languages:
        - curl
      tags:
      - Widgets
  /v1/impacts/sources/{sourceId}/triggers/{triggerId}:
    post:
      description: Creates an impact associated with a source and a trigger. Not executable via ReadMe
        MCP execute-request in the current version (read-only MCP). Use get-endpoint output to build integrations
        in your application.
      operationId: createImpact
      parameters:
      - name: sourceId
        required: true
        in: path
        description: The id of the source associated with the impact.
        schema:
          example: 631b035dcd13c4ad66c6d496
          type: string
      - name: triggerId
        required: true
        in: path
        description: The id of the trigger associated with the impact.
        schema:
          example: 281f045dcd23c4ae26c6d498
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImpactDto'
      responses:
        '201':
          description: The impact has been successfully created.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImpactPurchaseDetail'
        '400':
          description: Bad request.
        '401':
          description: Provide a valid x-api-key header. Keys are created in the Greenspark dashboard
            after registration (separate key per environment).
        '403':
          description: Requires growthBusiness, growthBusinessYearly, premiumBusiness, premiumBusinessYearly,
            or enterpriseBusiness subscription.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Create Impact
      tags:
      - Impacts
  /v1/impacts/batch:
    post:
      description: Run multiple create impact call in a batch, equivalent to calling create impact multiple
        times with different parameters. Not executable via ReadMe MCP execute-request in the current
        version (read-only MCP). Use get-endpoint output to build integrations in your application.
      operationId: createImpactBatch
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImpactBatchRequestBody'
      responses:
        '201':
          description: Every impacts in the batch call has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchImpactPurchaseResponses'
        '400':
          description: Bad request.
        '401':
          description: Provide a valid x-api-key header. Keys are created in the Greenspark dashboard
            after registration (separate key per environment).
        '403':
          description: Requires premiumBusiness, premiumBusinessYearly, or enterpriseBusiness subscription.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Create Impact in Batch
      tags:
      - Impacts
  /v1/impacts:
    post:
      description: Creates an impact associated with an account id. Not executable via ReadMe MCP execute-request
        in the current version (read-only MCP). Use get-endpoint output to build integrations in your
        application.
      operationId: createTailoredImpact
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImpactDto'
      responses:
        '201':
          description: The impact has been successfully created.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImpactPurchaseDetail'
        '400':
          description: Bad request.
        '401':
          description: Provide a valid x-api-key header. Keys are created in the Greenspark dashboard
            after registration (separate key per environment).
        '403':
          description: Requires premiumBusiness, premiumBusinessYearly, or enterpriseBusiness subscription.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Create One-time Impact
      tags:
      - Impacts
  /v1/email/domains/{domainId}:
    delete:
      deprecated: true
      description: Deprecated — redirects to v2. Use deleteDomainV2.
      operationId: deleteDomain
      parameters:
      - name: domainId
        required: true
        in: path
        description: The id of the custom domain object.
        schema:
          example: 63c5857475784b9acf05c919
          type: string
      responses:
        '200':
          description: Domains has been successfully deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomainDto'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a growth, premium or enterprise plan.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Delete Domain
      tags:
      - Email
  /v2/email/domains/{domainId}:
    delete:
      description: Delete your domain.
      operationId: deleteDomainV2
      parameters:
      - name: domainId
        required: true
        in: path
        description: The id of the custom domain object.
        schema:
          example: 63c5857475784b9acf05c919
          type: string
      responses:
        '200':
          description: Domains has been successfully deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomainDto'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a growth, premium or enterprise plan.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Delete Domain
      tags:
      - Email
  /v1/email/templates/{templateId}:
    delete:
      deprecated: true
      description: Deprecated — redirects to v2. Use deleteTemplateV2.
      operationId: deleteTemplate
      parameters:
      - name: templateId
        required: true
        in: path
        description: The id of the notification template.
        schema:
          example: 853b035dcd13c4ad66c6d618
          type: string
      responses:
        '200':
          description: Template has been successfully deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTemplateResponseDto'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a growth, premium or enterprise plan.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Delete Template
      tags:
      - Email
    put:
      deprecated: true
      description: Deprecated — redirects to v2. Use updateTemplateV2. Update your notification template
        for email sending.
      operationId: updateTemplate
      parameters:
      - name: templateId
        required: true
        in: path
        description: The id of the notification template.
        schema:
          example: 853b035dcd13c4ad66c6d618
          type: string
      responses:
        '200':
          description: Notification template has been successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTemplateResponseDto'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a growth, premium or enterprise plan.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Update Template
      tags:
      - Email
  /v2/email/templates/{templateId}:
    delete:
      description: Delete your template.
      operationId: deleteTemplateV2
      parameters:
      - name: templateId
        required: true
        in: path
        description: The id of the notification template.
        schema:
          example: 853b035dcd13c4ad66c6d618
          type: string
      responses:
        '200':
          description: Template has been successfully deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTemplateResponseDto'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a growth, premium or enterprise plan.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Delete Template
      tags:
      - Email
    put:
      description: Update your notification template for email sending.  If you do not want a customizable
        property to be custom, you should provide the default value for that property. You can get the
        default values for every template type from the templates-defaults endpoint.
      operationId: updateTemplateV2
      parameters:
      - name: templateId
        required: true
        in: path
        description: The id of the notification template.
        schema:
          example: 853b035dcd13c4ad66c6d618
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationTemplateRequestDto'
      responses:
        '200':
          description: Notification template has been successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTemplateResponseDto'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a growth, premium or enterprise plan.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Update Template
      tags:
      - Email
  /v1/email/templates/{templateId}/disable:
    post:
      description: Disable your notification template to stop sending emails.
      operationId: disableTemplate
      parameters:
      - name: templateId
        required: true
        in: path
        description: The id of the notification template.
        schema:
          example: 853b035dcd13c4ad66c6d618
          type: string
      responses:
        '200':
          description: Notification template has been successfully disabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTemplateResponseDto'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a growth, premium or enterprise plan.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Disable Template
      tags:
      - Email
  /v1/reports/{reportId}/{cursor}:
    get:
      deprecated: true
      description: Deprecated — returns 404 at runtime. Use v2 fetchRawReportV2 (GET /v2/reports) with
        cursor pagination.
      operationId: fetchAReportPage
      parameters:
      - name: reportId
        required: true
        in: path
        description: The id of a previously generated report.
        schema:
          example: 671766d9-65d5-4e5f-aa75-00782d3b7f9e
          type: string
      - name: cursor
        required: true
        in: path
        description: The cursor identifies the next page within a report.
        schema:
          example: BHI6BU2ZQMAQAAASA4EAAEEAQCAAKGQEBBSBAZBAWCXBK===
          type: string
      responses:
        '200':
          description: The report page has been successfully queried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawReport'
        '400':
          description: Bad request.
        '401':
          description: Provide a valid x-api-key header. Keys are created in the Greenspark dashboard
            after registration (separate key per environment).
        '403':
          description: Requires premiumBusiness, premiumBusinessYearly, or enterpriseBusiness subscription.
        '404':
          description: Not found.
        '422':
          description: 422 Unprocessable Entity when API quota is exhausted (MAX_API_CALLS_REACHED).
      security:
      - access-key: []
      summary: Fetch a Report Page
      tags:
      - Reports
  /v1/reports/average-spend-per-impact:
    get:
      description: Fetch the Array of average spending on impacts per currency.
      operationId: fetchAverageSpendPerImpact
      parameters:
      - name: sourceId
        required: false
        in: query
        description: The id of the source associated with the impact.
        schema:
          example: 631b035dcd13c4ad66c6d496
          type: string
      - name: triggerId
        required: false
        in: query
        description: The id of the trigger associated with the impact.
        schema:
          example: 281f045dcd23c4ae26c6d498
          type: string
      - name: startDate
        required: false
        in: query
        description: The beginning of the date filter interval.
        schema:
          example: '2022-09-01'
          type: string
      - name: endDate
        required: false
        in: query
        description: The end of the date filter interval.
        schema:
          example: '2022-09-01'
          type: string
      - name: metadata
        required: false
        in: query
        description: You can filter the data by the provided key-value pairs as Metadata.
        schema:
          example: key1,value1;key2,value2
          type: string
      - name: sourceType
        required: false
        in: query
        description: The source type of the impact, one of "one-time", "subscription".
        schema:
          example: one-time
          type: string
          enum:
          - one-time
          - subscription
      responses:
        '200':
          description: The report has been successfully queried.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: number
                      description: The spending on impacts.
                example:
                - value: $0.5
        '400':
          description: Bad request.
        '401':
          description: Provide a valid x-api-key header. Keys are created in the Greenspark dashboard
            after registration (separate key per environment).
        '403':
          description: Requires premiumBusiness, premiumBusinessYearly, or enterpriseBusiness subscription.
        '404':
          description: Not found.
        '422':
          description: 422 Unprocessable Entity when API quota is exhausted (MAX_API_CALLS_REACHED).
      security:
      - access-key: []
      summary: Fetch Average Spend Per Impact
      tags:
      - Reports
  /v1/reports/carbon-by-interval:
    get:
      deprecated: true
      description: Fetch the Array of spending on impacts of carbon per month.
      operationId: fetchCarbonByInterval
      parameters:
      - name: sourceId
        required: false
        in: query
        description: The id of the source associated with the impact.
        schema:
          example: 631b035dcd13c4ad66c6d496
          type: string
      - name: triggerId
        required: false
        in: query
        description: The id of the trigger associated with the impact.
        schema:
          example: 281f045dcd23c4ae26c6d498
          type: string
      - name: startDate
        required: false
        in: query
        description: The beginning of the date filter interval.
        schema:
          example: '2022-09-01'
          type: string
      - name: endDate
        required: false
        in: query
        description: The end of the date filter interval.
        schema:
          example: '2022-09-01'
          type: string
      - name: metadata
        required: false
        in: query
        description: You can filter the data by the provided key-value pairs as Metadata.
        schema:
          example: key1,value1;key2,value2
          type: string
      - name: sourceType
        required: false
        in: query
        description: The source type of the impact, one of "one-time", "subscription".
        schema:
          example: one-time
          type: string
          enum:
          - one-time
          - subscription
      responses:
        '200':
          description: The report has been successfully queried.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      description: The type of the spending.
                    amount:
                      type: number
                      description: The amount of the spending.
                    month:
                      type: string
                      description: The month when your impacts were created.
                example:
                - type: carbon
                  amount: 5
                  month: 2022-09
                - type: carbon
                  amount: 3
                  month: 2022-08
        '400':
          description: Bad request.
        '401':
          description: Provide a valid x-api-key header. Keys are created in the Greenspark dashboard
            after registration (separate key per environment).
        '403':
          description: Requires premiumBusiness, premiumBusinessYearly, or enterpriseBusiness subscription.
        '404':
          description: Not found.
        '422':
          description: 422 Unprocessable Entity when API quota is exhausted (MAX_API_CALLS_REACHED).
      security:
      - access-key: []
      summary: Fetch Carbon By Interval
      tags:
      - Reports
  /v1/estimations/transaction/mcc:
    post:
      operationId: fetchCarbonEstimateOfATransactionByMCC
      summary: Fetch Carbon Estimate of a Transaction by MCC
      description: Estimating the carbon footprint of a transaction based on a Merchant Category Code
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimationsByMCCRequestBody'
      responses:
        '200':
          description: The estimated carbon footprint has been successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Estimation'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a premium or enterprise plan.
        '404':
          description: Not found.
        '429':
          description: Too Many Requests
      tags:
      - Estimations
      security:
      - access-key: []
  /v1/estimations/transaction/category-type:
    post:
      operationId: fetchCarbonEstimateOfATransactionByOpenBankingCategoryTypes
      summary: Fetch Carbon Estimate of a Transaction by Open Banking Category Types
      description: Estimating the carbon footprint of a transaction based on Open Banking Category Types
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimationsByCategoryTypeRequestBody'
      responses:
        '200':
          description: The estimated carbon footprint has been successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Estimation'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a premium or enterprise plan.
        '404':
          description: Not found.
        '429':
          description: Too Many Requests
      tags:
      - Estimations
      security:
      - access-key: []
  /v1/estimations/transaction/mcc/bulk:
    post:
      operationId: fetchCarbonEstimateOfMultipleTransactionsByMCC
      summary: Fetch Carbon Estimate of Multiple Transactions by MCC
      description: Estimating the carbon footprint of multiple transactions based on a Merchant Category
        Code
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEstimationsByMCCRequestBody'
      responses:
        '200':
          description: The estimated carbon footprints has been successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Estimation'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a premium or enterprise plan.
        '404':
          description: Not found.
        '429':
          description: Too Many Requests
      tags:
      - Estimations
      security:
      - access-key: []
  /v1/estimations/transaction/category-type/bulk:
    post:
      operationId: fetchCarbonEstimateOfMultipleTransactionsByOpenBankingCategoryTypes
      summary: Fetch Carbon Estimate of Multiple Transactions by Open Banking Category Types
      description: Estimating the carbon footprint of multiple transactions based on Open Banking Category
        Types
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEstimationsByCategoryTypeRequestBody'
      responses:
        '200':
          description: The estimated carbon footprint has been successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Estimation'
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a premium or enterprise plan.
        '404':
          description: Not found.
        '429':
          description: Too Many Requests
      tags:
      - Estimations
      security:
      - access-key: []
  /v1/reports/impact-amount-by-type-per-source:
    get:
      description: Fetch the Array of spending on impacts on a single type and source.
      operationId: fetchImpactAmountByTypePerSourceReport
      parameters:
      - name: sourceId
        required: false
        in: query
        description: The id of the source associated with the impact.
        schema:
          example: 631b035dcd13c4ad66c6d496
          type: string
      - name: triggerId
        required: false
        in: query
        description: The id of the trigger associated with the impact.
        schema:
          example: 281f045dcd23c4ae26c6d498
          type: string
      - name: startDate
        required: false
        in: query
        description: The beginning of the date filter interval.
        schema:
          example: '2022-09-01'
          type: string
      - name: endDate
        required: false
        in: query
        description: The end of the date filter interval.
        schema:
          example: '2022-09-01'
          type: string
      - name: metadata
        required: false
        in: query
        description: You can filter the data by the provided key-value pairs as Metadata.
        schema:
          example: key1,value1;key2,value2
          type: string
      - name: sourceType
        required: false
        in: query
        description: The source type of the impact, one of "one-time", "subscription".
        schema:
          example: one-time
          type: string
          enum:
          - one-time
          - subscription
      responses:
        '200':
          description: The report has been successfully queried.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    source:
                      type: string
                      description: The name of the source.
                    type:
                      type: string
                      description: The type of the spending.
                    amount:
                      type: number
                      description: The amount of the spending.
                example:
                - source: API
                  type: carbon
                  amount: 30
                - source: Source1
                  type: trees
                  amount: 265
        '400':
          description: Bad request.
        '401':
          description: Provide a valid x-api-key header. Keys are created in the Greenspark dashboard
            after registration (separate key per environment).
        '403':
          description: Requires premiumBusiness, premiumBusinessYearly, or enterpriseBusiness subscription.
        '404':
          description: Not found.
        '422':
          description: 422 Unprocessable Entity when API quota is exhausted (MAX_API_CALLS_REACHED).
      security:
      - access-key: []
      summary: Fetch Impact Amount By Type Per Source Report
      tags:
      - Reports
  /v1/reports/impact-amount-by-type-per-trigger:
    get:
      description: Fetch the Array of spending on impacts on a single type and trigger.
      operationId: fetchImpactAmountByTypePerTriggerReport
      parameters:
      - name: sourceId
        required: false
        in: query
        description: The id of the source associated with the impact.
        schema:
          example: 631b035dcd13c4ad66c6d496
          type: string
      - name: triggerId
        required: false
        in: query
        description: The id of the trigger associated with the impact.
        schema:
          example: 281f045dcd23c4ae26c6d498
          type: string
      - name: startDate
        required: false
        in: query
        description: The beginning of the date filter interval.
        schema:
          example: '2022-09-01'
          type: string
      - name: endDate
        required: false
        in: query
        description: The end of the date filter interval.
        schema:
          example: '2022-09-01'
          type: string
      - name: metadata
        required: false
        in: query
        description: You can filter the data by the provided key-value pairs as Metadata.
        schema:
          example: key1,value1;key2,value2
          type: string
      - name: sourceType
        required: false
        in: query
        description: The source type of the impact, one of "one-time", "subscription".
        schema:
          example: one-time
          type: string
          enum:
          - one-time
          - subscription
      responses:
        '200':
          description: The report has been successfully queried.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    trigger:
                      type: string
                      description: The name of the trigger.
                    type:
                      type: string
                      description: The type of the spending.
                    amount:
                      type: number
                      description: The amount of the spending.
                example:
                - trigger: TRIGGER1
                  type: carbon
                  amount: 30
                - trigger: TAILORED_IMPACT
                  type: trees
                  amount: 265
        '400':
          description: Bad request.
        '401':
          description: Provide a valid x-api-key header. Keys are created in the Greenspark dashboard
            after registration (separate key per environment).
        '403':
          description: Requires premiumBusiness, premiumBusinessYearly, or enterpriseBusiness subscription.
        '404':
          description: Not found.
        '422':
          description: 422 Unprocessable Entity when API quota is exhausted (MAX_API_CALLS_REACHED).
      security:
      - access-key: []
      summary: Fetch Impact Amount By Type Per Trigger Report
      tags:
      - Reports
  /v1/reports/impacts-by-interval:
    get:
      description: Fetch the Array of spending on impacts per month.
      operationId: fetchImpactsByInterval
      parameters:
      - name: sourceId
        required: false
        in: query
        description: The id of the source associated with the impact.
        schema:
          example: 631b035dcd13c4ad66c6d496
          type: string
      - name: triggerId
        required: false
        in: query
        description: The id of the trigger associated with the impact.
        schema:
          example: 281f045dcd23c4ae26c6d498
          type: string
      - name: startDate
        required: false
        in: query
        description: The beginning of the date filter interval.
        schema:
          example: '2022-09-01'
          type: string
      - name: endDate
        required: false
        in: query
        description: The end of the date filter interval.
        schema:
          example: '2022-09-01'
          type: string
      - name: metadata
        required: false
        in: query
        description: You can filter the data by the provided key-value pairs as Metadata.
        schema:
          example: key1,value1;key2,value2
          type: string
      - name: sourceType
        required: false
        in: query
        description: The source type of the impact, one of "one-time", "subscription".
        schema:
          example: one-time
          type: string
          enum:
          - one-time
          - subscription
      responses:
        '200':
          description: The report has been successfully queried.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      description: The type of the spending.
                    amount:
                      type: number
                      description: The amount of the spending.
                    projectId:
                      type: string
                      description: The project of the spending.
                    month:
                      type: string
                      description: The month when your impacts were created.
                example:
                - type: trees
                  amount: 10
                  projectId: c6e4b1bf-843e-4859-bc85-c3b764f507e6
                  month: 2022-09
                - type: water
                  amount: 29
                  projectId: 6b0add6d-246f-4a22-a072-3469eb65b225
                  month: 2022-09
        '400':
          description: Bad request.
        '401':
          description: Provide a valid x-api-key header. Keys are created in the Greenspark dashboard
            after registration (separate key per environment).
        '403':
          description: Requires premiumBusiness, premiumBusinessYearly, or enterpriseBusiness subscription.
        '404':
          description: Not found.
        '422':
          description: 422 Unprocessable Entity when API quota is exhausted (MAX_API_CALLS_REACHED).
      security:
      - access-key: []
      summary: Fetch Impacts By Interval
      tags:
      - Reports
  /v1/reports/plastic-by-interval:
    get:
      deprecated: true
      description: Fetch the Array of spending on impacts of plastic per month.
      operationId: fetchPlasticByInterval
      parameters:
      - name: sourceId
        required: false
        in: query
        description: The id of the source associated with the impact.
        schema:
          example: 631b035dcd13c4ad66c6d496
          type: string
      - name: triggerId
        required: false
        in: query
        description: The id of the trigger associated with the impact.
        schema:
          example: 281f045dcd23c4ae26c6d498
          type: string
      - name: startDate
        required: false
        in: query
        description: The beginning of the date filter interval.
        schema:
          example: '2022-09-01'
          type: string
      - name: endDate
        required: false
        in: query
        description: The end of the date filter interval.
        schema:
          example: '2022-09-01'
          type: string
      - name: metadata
        required: false
        in: query
        description: You can filter the data by the provided key-value pairs as Metadata.
        schema:
          example: key1,value1;key2,value2
          type: string
      - name: sourceType
        required: false
        in: query
        description: The source type of the impact, one of "one-time", "subscription".
        schema:
          example: one-time
          type: string
          enum:
          - one-time
          - subscription
      responses:
        '200':
          description: The report has been successfully queried.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      description: The type of the spending.
                    amount:
                      type: number
                      description: The amount of the spending.
                    month:
                      type: string
                      description: The month when your impacts were created.
                example:
                - type: plastic
                  amount: 1
                  month: 2022-09
                - type: plastic
                  amount: 2
                  month: 2022-08
        '400':
          description: Bad request.
        '401':
          description: Provide a valid x-api-key header. Keys are created in the Greenspark dashboard
            after registration (separate key per environment).
        '403':
          description: Requires premiumBusiness, premiumBusinessYearly, or enterpriseBusiness subscription.
        '404':
          description: Not found.
        '422':
          description: 422 Unprocessable Entity when API quota is exhausted (MAX_API_CALLS_REACHED).
      security:
      - access-key: []
      summary: Fetch Plastic By Interval
      tags:
      - Reports
  /v1/reports:
    get:
      deprecated: true
      description: Deprecated — returns 404 at runtime. Use v2 fetchRawReportV2 (GET /v2/reports).
      operationId: fetchRawReport
      parameters:
      - name: sourceId
        required: false
        in: query
        description: The id of the source associated with the impact.
        schema:
          example: 631b035dcd13c4ad66c6d496
          type: string
      - name: triggerId
        required: false
        in: query
        description: The id of the trigger associated with the impact.
        schema:
          example: 281f045dcd23c4ae26c6d498
          type: string
      - name: startDate
        required: false
        in: query
        description: The beginning of the date filter interval.
        schema:
          example: '2022-09-01'
          type: string
      - name: endDate
        required: false
        in: query
        description: The end of the date filter interval.
        schema:
          example: '2022-09-01'
          type: string
      - name: metadata
        required: false
        in: query
        description: You can filter the data by the provided key-value pairs as Metadata.
        schema:
          example: key1,value1;key2,value2
          type: string
      - name: sourceType
        required: false
        in: query
        description: The source type of the impact, one of "one-time", "subscription".
        schema:
          example: one-time
          type: string
          enum:
          - one-time
          - subscription
      - name: impactType
        required: false
        in: query
        description: Type can be trees, plastic or carbon. As a result only the impacts containing the
          provided impact type will be returned. If they contain other impact types as well, those won't
          be filtered out.
        schema:
          type: string
          enum:
          - trees
          - carbon
          - plastic
          - kelp
          - water
          - bees
      responses:
        '200':
          description: The report has been successfully queried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawReport'
        '400':
          description: Bad request.
        '401':
          description: Provide a valid x-api-key header. Keys are created in the Greenspark dashboard
            after registration (separate key per environment).
        '403':
          description: Requires premiumBusiness, premiumBusinessYearly, or enterpriseBusiness subscription.
        '404':
          description: Not found.
        '422':
          description: 422 Unprocessable Entity when API quota is exhausted (MAX_API_CALLS_REACHED).
      security:
      - access-key: []
      summary: Fetch Raw Report
      tags:
      - Reports
  /v2/reports:
    get:
      description: Canonical raw impact export. Paginate with the cursor query parameter when the response
        includes a non-null cursor. Row metadata may contain merchant-defined key/value pairs.
      operationId: fetchRawReportV2
      parameters:
      - name: sourceId
        required: false
        in: query
        description: The id of the source associated with the impact.
        schema:
          example: 631b035dcd13c4ad66c6d496
          type: string
      - name: triggerId
        required: false
        in: query
        description: The id of the trigger associated with the impact.
        schema:
          example: 281f045dcd23c4ae26c6d498
          type: string
      - name: startDate
        required: false
        in: query
        description: The beginning of the date filter interval.
        schema:
          example: '2022-09-01'
          type: string
      - name: endDate
        required: false
        in: query
        description: The end of the date filter interval.
        schema:
          example: '2022-09-01'
          type: string
      - name: metadata
        required: false
        in: query
        description: You can filter the data by the provided key-value pairs as Metadata.
        schema:
          example: key1,value1;key2,value2
          type: string
      - name: sourceType
        required: false
        in: query
        description: The source type of the impact, one of "one-time", "subscription".
        schema:
          example: one-time
          type: string
          enum:
          - one-time
          - subscription
      - name: impactType
        required: false
        in: query
        description: Type can be trees, plastic or carbon. As a result only the impacts containing the
          provided impact type will be returned. If they contain other impact types as well, those won't
          be filtered out.
        schema:
          type: string
          enum:
          - trees
          - carbon
          - plastic
          - kelp
          - water
          - bees
      - name: cursor
        required: false
        in: query
        description: The cursor identifies the next page within a report.
        schema:
          example: BHI6BU2ZQMAQAAASA4EAAEEAQCAAKGQEBBSBAZBAWCXBK===
          type: string
      responses:
        '200':
          description: The report has been successfully queried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawReportV2'
        '400':
          description: Bad request.
        '401':
          description: Provide a valid x-api-key header. Keys are created in the Greenspark dashboard
            after registration (separate key per environment).
        '403':
          description: Requires premiumBusiness, premiumBusinessYearly, or enterpriseBusiness subscription.
        '404':
          description: Not found.
        '422':
          description: 422 Unprocessable Entity when API quota is exhausted (MAX_API_CALLS_REACHED).
      security:
      - access-key: []
      summary: Fetch Raw Report v2
      tags:
      - Reports
  /v1/email/templates-defaults:
    get:
      deprecated: true
      description: Deprecated — redirects to v2. Use fetchTemplatesDefaultsV2.
      operationId: fetchTemplatesDefaults
      parameters: []
      responses:
        '200':
          description: Template defaults has been successfully queried.
          content:
            application/json:
              schema:
                example:
                  variables:
                    type: order, feedback, newsletter subscription, impact action
                    firstName: John
                    lastName: Smith
                    impactsTextPresent: plant 3 trees, recover 7 plastic bottles and offset 5 kgs of CO2
                    impactsTextPast: planted 3 trees, recover 7 plastic bottles and offset 5 kgs of CO2
                    sellerName: Greenspark
                  templates:
                  - accountId: ''
                    isCustom: false
                    type:
                      name: Customer invitation
                      template: invitation
                      trigger:
                      - byLoyaltyPoints
                      - offsetByPercentageOrder
                      - offsetBySpend
                      - offsetByStoreRevenue
                      - offsetPerOrder
                      - offsetPerProduct
                      - byPercentageOfPaidInvoice
                      - byPercentageOfRevenue
                      - bySpendOfPaidInvoice
                      - byTieredSpendOfPaidInvoice
                      - perPaidInvoice
                      - offsetPerSubscription
                      - offsetPerReview
                      - perCompletedForm
                      - perSelectedAnswer
                      - customerCartContribution
                      isTriggerCustom: false
                      schedule: null
                      isScheduleCustom: false
                    settings:
                      from:
                        name: null
                        domain: null
                      alias: '{{{ sellerName }}} x Greenspark'
                      isAliasCustom: false
                      subject: Your {{{type}}} with {{{sellerName}}} {{{impactsTextPast}}}. Track your
                        impact here.
                      isSubjectCustom: false
                      preheader: Activate your Greenspark dashboard & grow your impact today.
                      isPreheaderCustom: false
                      schedule:
                        startDate: '2026-05-26T14:06:53.231Z'
                        endDate: null
                        isEndDateCustom: false
                    content:
                      headerImage: http://res.cloudinary.com/dlilerh6s/image/upload/v1670515295/templates/abgf9boicpxujispedpy.png
                      isHeaderImageCustom: false
                      body: '<div style="font-family: inherit; text-align: inherit"><span style="font-family:
                        tahoma, geneva, sans-serif; font-style: normal; font-variant-ligatures: normal;
                        font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans:
                        2; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing:
                        0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style:
                        initial; text-decoration-color: initial; float: none; display: inline; font-size:
                        14px">Hi {{{ firstName }}},</span></div><div style="font-family: inherit; text-align:
                        inherit"><br></div><div style="font-family: inherit; text-align: inherit"><span
                        style="line-height: 1.38; background-color: transparent; margin-top: 0pt; margin-bottom:
                        0pt; font-size: 10.5pt; font-family: Arial; color: #212121; font-weight: 400;
                        font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;
                        font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line:
                        none; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color:
                        initial; vertical-align: baseline; white-space: pre-wrap">Thanks so much for your
                        </span><span style="line-height: 1.38; background-color: transparent; margin-top:
                        0pt; margin-bottom: 0pt; font-size: 10.5pt; font-family: Arial; color: #000000;
                        font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps:
                        normal; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line:
                        none; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color:
                        initial; vertical-align: baseline; white-space: pre-wrap">{{{sellerName}}}</span><span
                        style="line-height: 1.38; background-color: transparent; margin-top: 0pt; margin-bottom:
                        0pt; font-size: 10.5pt; font-family: Arial; color: #212121; font-weight: 400;
                        font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;
                        font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line:
                        none; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color:
                        initial; vertical-align: baseline; white-space: pre-wrap"> {{{ type }}}!</span></div><div
                        style="font-family: inherit; text-align: inherit">&nbsp;</div><div style="font-family:
                        inherit; text-align: inherit"><span style="line-height: 1.38; background-color:
                        transparent; margin-top: 0pt; margin-bottom: 0pt; font-size: 10.5pt; font-family:
                        Arial; color: #212121; font-weight: 400; font-style: normal; font-variant-ligatures:
                        normal; font-variant-caps: normal; font-variant-numeric: normal; font-variant-east-asian:
                        normal; text-decoration-line: none; text-decoration-thickness: initial; text-decoration-style:
                        initial; text-decoration-color: initial; vertical-align: baseline; white-space:
                        pre-wrap">Did you know that </span><span style="line-height: 1.38; background-color:
                        transparent; margin-top: 0pt; margin-bottom: 0pt; font-size: 10.5pt; font-family:
                        Arial; color: #000000; font-weight: 400; font-style: normal; font-variant-ligatures:
                        normal; font-variant-caps: normal; font-variant-numeric: normal; font-variant-east-asian:
                        normal; text-decoration-line: none; text-decoration-thickness: initial; text-decoration-style:
                        initial; text-decoration-color: initial; vertical-align: baseline; white-space:
                        pre-wrap">{{{sellerName}}}</span><span style="line-height: 1.38; background-color:
                        transparent; margin-top: 0pt; margin-bottom: 0pt; font-size: 10.5pt; font-family:
                        Arial; color: #212121; font-weight: 400; font-style: normal; font-variant-ligatures:
                        normal; font-variant-caps: normal; font-variant-numeric: normal; font-variant-east-asian:
                        normal; text-decoration-line: none; text-decoration-thickness: initial; text-decoration-style:
                        initial; text-decoration-color: initial; vertical-align: baseline; white-space:
                        pre-wrap"> has partnered with Greenspark to {{{ impactsTextPresent }}} in your
                        name?&nbsp;</span></div><div style="font-family: inherit; text-align: inherit">&nbsp;</div><div
                        style="font-family: inherit; text-align: inherit"><span style="line-height: 1.38;
                        background-color: transparent; margin-top: 0pt; margin-bottom: 0pt; font-size:
                        10.5pt; font-family: Arial; color: #3b755f; font-weight: 700; font-style: normal;
                        font-variant-ligatures: normal; font-variant-caps: normal; font-variant-numeric:
                        normal; font-variant-east-asian: normal; text-decoration-line: none; text-decoration-thickness:
                        initial; text-decoration-style: initial; text-decoration-color: initial; vertical-align:
                        baseline; white-space: pre-wrap">Check out your unique digital certificate showcasing
                        the impact your {{{ type }}} has created below.&nbsp;</span></div><div style="font-family:
                        inherit; text-align: inherit">&nbsp;</div><div style="font-family: inherit; text-align:
                        inherit"><span style="line-height: 1.38; background-color: transparent; margin-top:
                        0pt; margin-bottom: 0pt; font-size: 10.5pt; font-family: Arial; color: #212121;
                        font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps:
                        normal; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line:
                        none; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color:
                        initial; vertical-align: baseline; white-space: pre-wrap">If you’d like to learn
                        about the story behind your impact, see where it’s taking place, and gain deeper
                        insight into what it means for the planet you can activate your personalised Greenspark
                        dashboard. It’s completely free as a gift from us to you. Follow the link below
                        to discover more!</span></div><div style="font-family: inherit; text-align: inherit">&nbsp;</div><div
                        style="font-family: inherit; text-align: inherit"><span style="line-height: 1.38;
                        background-color: transparent; margin-top: 0pt; margin-bottom: 0pt; font-size:
                        10.5pt; font-family: Arial; color: #212121; font-weight: 400; font-style: normal;
                        font-variant-ligatures: normal; font-variant-caps: normal; font-variant-numeric:
                        normal; font-variant-east-asian: normal; text-decoration-line: none; text-decoration-thickness:
                        initial; text-decoration-style: initial; text-decoration-color: initial; vertical-align:
                        baseline; white-space: pre-wrap">Many thanks,&nbsp;</span></div><div style="font-family:
                        inherit; text-align: inherit">&nbsp;</div><div style="font-family: inherit; text-align:
                        inherit"><span style="line-height: 1.38; background-color: transparent; margin-top:
                        0pt; margin-bottom: 0pt; font-size: 10.5pt; font-family: Arial; color: #212121;
                        font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps:
                        normal; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line:
                        none; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color:
                        initial; vertical-align: baseline; white-space: pre-wrap">{{{sellerName}}} &amp;
                        Greenspark</span><br></div>'
                      isBodyCustom: false
                      isFooterHidden: false
                      isFooterHiddenCustom: false
                      isTotalImpactHidden: false
                      isTotalImpactHiddenCustom: false
                    statuses:
                    - status: disabled
                      initiatedAt: '2026-05-26T14:06:53.231Z'
                      initiatedBy: system
                  - accountId: ''
                    isCustom: false
                    type:
                      name: Customer update
                      template: update
                      trigger:
                      - byLoyaltyPoints
                      - offsetByPercentageOrder
                      - offsetBySpend
                      - offsetByStoreRevenue
                      - offsetPerOrder
                      - offsetPerProduct
                      - byPercentageOfPaidInvoice
                      - byPercentageOfRevenue
                      - bySpendOfPaidInvoice
                      - byTieredSpendOfPaidInvoice
                      - perPaidInvoice
                      - offsetPerSubscription
                      - offsetPerReview
                      - perCompletedForm
                      - perSelectedAnswer
                      - customerCartContribution
                      isTriggerCustom: false
                      schedule: null
                      isScheduleCustom: false
                    settings:
                      from:
                        name: null
                        domain: null
                      alias: '{{{ sellerName }}} x Greenspark'
                      isAliasCustom: false
                      subject: Your {{{type}}} with {{{sellerName}}} {{{impactsTextPast}}}. Track your
                        impact here.
                      isSubjectCustom: false
                      preheader: Login to your Greenspark dashboard.
                      isPreheaderCustom: false
                      schedule:
                        startDate: '2026-05-26T14:06:53.231Z'
                        endDate: null
                        isEndDateCustom: false
                    content:
                      headerImage: http://res.cloudinary.com/dlilerh6s/image/upload/v1670515295/templates/abgf9boicpxujispedpy.png
                      isHeaderImageCustom: false
                      body: '<div style="font-family: inherit; text-align: inherit"><span style="font-family:
                        tahoma, geneva, sans-serif; font-style: normal; font-variant-ligatures: normal;
                        font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans:
                        2; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing:
                        0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style:
                        initial; text-decoration-color: initial; float: none; display: inline; font-size:
                        14px; color: #3b755f"><strong>Hi {{{ firstName }}},</strong></span></div><div
                        style="font-family: inherit; text-align: inherit"><br></div><div style="font-family:
                        inherit; text-align: inherit"><span style="white-space: pre-wrap">Thanks again
                        for your {{{ type }}}! </span><span style="color: #212121; font-family: tahoma,
                        geneva, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures:
                        normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans:
                        2; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap;
                        widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color:
                        rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style:
                        initial; text-decoration-color: initial; float: none; display: inline">{{{sellerName}}}</span><span
                        style="white-space: pre-wrap"> have partnered with Greenspark to {{{ impactsTextPresent
                        }}} in your name. </span><span style="white-space: pre-wrap; color: #3b755f"><strong>Login
                        to your dashboard to track the impact of your actions.</strong></span></div>'
                      isBodyCustom: false
                      isFooterHidden: false
                      isFooterHiddenCustom: false
                      isTotalImpactHidden: false
                      isTotalImpactHiddenCustom: false
                    statuses:
                    - status: disabled
                      initiatedAt: '2026-05-26T14:06:53.231Z'
                      initiatedBy: system
                  - accountId: ''
                    isCustom: false
                    type:
                      name: Customer nudge
                      template: nudge
                      trigger: null
                      isTriggerCustom: false
                      schedule:
                      - 3
                      - 7
                      - 14
                      isScheduleCustom: false
                    settings:
                      from:
                        name: null
                        domain: null
                      alias: Greenspark Team
                      isAliasCustom: false
                      subject: Your Greenspark invitation is waiting!
                      isSubjectCustom: false
                      preheader: Claim your Greenspark dashboard.
                      isPreheaderCustom: false
                      schedule:
                        startDate: '2026-05-26T14:06:53.231Z'
                        endDate: null
                        isEndDateCustom: false
                    content:
                      headerImage: http://res.cloudinary.com/dlilerh6s/image/upload/v1670515295/templates/abgf9boicpxujispedpy.png
                      isHeaderImageCustom: false
                      body: '<div style="font-family: inherit; text-align: inherit"><span style="font-family:
                        tahoma, geneva, sans-serif; font-style: normal; font-variant-ligatures: normal;
                        font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans:
                        2; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing:
                        0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style:
                        initial; text-decoration-color: initial; float: none; display: inline; font-size:
                        14px; color: #3b755f"><strong>Hi {{{ firstName }}},</strong></span></div><div
                        style="font-family: inherit; text-align: inherit"><br></div><div style="font-family:
                        inherit; text-align: inherit"><span style="color: #212121; font-family: tahoma,
                        geneva, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps:
                        normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: center;
                        text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing:
                        0px; -webkit-text-stroke-width: 0px; background-color: rgb(249, 249, 249); text-decoration-thickness:
                        initial; text-decoration-style: initial; text-decoration-color: initial; float:
                        none; display: inline; font-size: 14px">Your Greenspark invitation is waiting.
                        Claim your dashboard to track your overall impact from your purchases, reviews
                        and newsletter signups with participating Greenspark retailers.</span></div>'
                      isBodyCustom: false
                      isFooterHidden: false
                      isFooterHiddenCustom: false
                      isTotalImpactHidden: false
                      isTotalImpactHiddenCustom: false
                    statuses:
                    - status: disabled
                      initiatedAt: '2026-05-26T14:06:53.231Z'
                      initiatedBy: system
        '400':
          description: Bad request.
        '401':
          description: Provide your API key.
        '403':
          description: Please upgrade to a growth, premium or enterprise plan.
        '404':
          description: Not found.
      security:
      - access-key: []
      summary: Fetch Templates Defaults
      tags:
      - Email
  /v2/email/templates-defaults:
    get:
      description: Fetch templates defaults for email sending.
      operationId: fetchTemplatesDefaultsV2
      parameters: []
      responses:
        '200':
          description: Template defaults has been successfully queried.
          content:
            application/json:
              schema:
                example:
                  variables:
                    type: order, feedback, newsletter subscription, impact action
                    firstName: John
                    lastName: Smith
                    impactsTextPresent: plant 3 trees, recover 7 plastic bottles and offset 5 kgs of CO2
                    impactsTextPast: planted 3 trees, recover 7 plastic bottles and offset 5 kgs of CO2
                    sellerName: Greenspark
                  templates:
                  - accountId: ''
                    isCustom: false
                    type:
                      name: Customer invitation
                      template: invitation
                      trigger:
                      - byLoyaltyPoints
                      - offsetByPercentageOrder
                      - offsetBySpend
                      - offsetByStoreRevenue
                      - offsetPerOrder
                      - offsetPerProduct
                      - byPercentageOfPaidInvoice
                      - byPercentageOfRevenue
                      - bySpendOfPaidInvoice
                      - byTieredSpendOfPaidInvoice
                      - perPaidInvoice
                      - offsetPerSubscription
                      - offsetPerReview
                      - perCompletedForm
                      - perSelectedAnswer
                      - customerCartContribution
                      isTriggerCustom: false
                      schedule: null
                      isScheduleCustom: false
                    settings:
                      from:
                        name: null
                        domain: null
                      alias: '{{{ sellerName }}} x Greenspark'
                      isAliasCustom: false
                      subject: Your {{{type}}} with {{{sellerName}}} {{{impactsTextPast}}}. Track your
                        impact here.
                      isSubjectCustom: false
                      preheader: Activate your Greenspark dashboard & grow your impact today.
                      isPreheaderCustom: false
                      schedule:
                        startDate: '2026-05-26T14:06:53.231Z'
                        endDate: null
                        isEndDateCustom: false
                    content:
                      headerImage: http://res.cloudinary.com/dlilerh6s/image/upload/v1670515295/templates/abgf9boicpxujispedpy.png
                      isHeaderImageCustom: false
                      body: '<div style="font-family: inherit; text-align: inherit"><span style="font-family:
                        tahoma, geneva, sans-serif; font-style: normal; font-variant-ligatures: normal;
                        font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans:
                        2; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing:
                        0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style:
                        initial; text-decoration-color: initial; float: none; display: inline; font-size:
                        14px">Hi {{{ firstName }}},</span></div><div style="font-family: inherit; text-align:
                        inherit"><br></div><div style="font-family: inherit; text-align: inherit"><span
                        style="line-height: 1.38; background-color: transparent; margin-top: 0pt; margin-bottom:
                        0pt; font-size: 10.5pt; font-family: Arial; color: #212121; font-weight: 400;
                        font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;
                        font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line:
                        none; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color:
                        initial; vertical-align: baseline; white-space: pre-wrap">Thanks so much for your
                        </span><span style="line-height: 1.38; background-color: transparent; margin-top:
                        0pt; margin-bottom: 0pt; font-size: 10.5pt; font-family: Arial; color: #000000;
                        font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps:
                        normal; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line:
                        none; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color:
                        initial; vertical-align: baseline; white-space: pre-wrap">{{{sellerName}}}</span><span
                        style="line-height: 1.38; background-color: transparent; margin-top: 0pt; margin-bottom:
                        0pt; font-size: 10.5pt; font-family: Arial; color: #212121; font-weight: 400;
                        font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;
                        font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line:
                        none; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color:
                        initial; vertical-align: baseline; white-space: pre-wrap"> {{{ type }}}!</span></div><div
                        style="font-family: inherit; text-align: inherit">&nbsp;</div><div style="font-family:
                        inherit; text-align: inherit"><span style="line-height: 1.38; background-color:
                        transparent; margin-top: 0pt; margin-bottom: 0pt; font-size: 10.5pt; font-family:
                        Arial; color: #212121; font-weight: 400; font-style: normal; font-variant-ligatures:
                        normal; font-variant-caps: normal; font-variant-numeric: normal; font-variant-east-asian:
                        normal; text-decoration-line: none; text-decoration-thickness: initial; text-decoration-style:
                        initial; text-decoration-color: initial; vertical-align: baseline; white-space:
                        pre-wrap">Did you know that </span><span style="line-height: 1.38; background-color:
                        transparent; margin-top: 0pt; margin-bottom: 0pt; font-size: 10.5pt; font-family:
                        Arial; color: #000000; font-weight: 400; font-style: normal; font-variant-ligatures:
                        normal; font-variant-caps: normal; font-variant-numeric: normal; font-variant-east-asian:
                        normal; text-decoration-line: none; text-decoration-thickness: initial; text-decoration-style:
                        initial; text-decoration-color: initial; vertical-align: baseline; white-space:
                        pre-wrap">{{{sellerName}}}</span><span style="line-height: 1.38; background-color:
                        transparent; margin-top: 0pt; margin-bottom: 0pt; font-size: 10.5pt; font-family:
                        Arial; color: #212121; font-weight: 400; font-style: normal; font-variant-ligatures:
                        normal; font-variant-caps: normal; font-variant-numeric: normal; font-variant-east-asian:
                        normal; text-decoration-line: none; text-decoration-thickness: initial; text-decoration-style:
                        initial; text-decoration-color: initial; vertical-align: baseline; white-space:
                        pre-wrap"> has partnered with Greenspark to {{{ impactsTextPresent }}} in your
                        name?&nbsp;</span></div><div style="font-family: inherit; text-align: inherit">&nbsp;</div><div
                        style="font-family: inherit; text-align: inherit"><span style="line-height: 1.38;
                        background-color: transparent; margin-top: 0pt; margin-bottom: 0pt; font-size:
                        10.5pt; font-family: Arial; color: #3b755f; font-weight: 700; font-style: normal;
                        font-variant-ligatures: normal; font-variant-caps: normal; font-variant-numeric:
                        normal; font-variant-east-asian: normal; text-decoration-line: none; text-decoration-thickness:
                        initial; text-decoration-style: initial; text-decoration-color: initial; vertical-align:
                        baseline; white-space: pre-wrap">Check out your unique digital certificate showcasing
                        the impact your {{{ type }}} has created below.&nbsp;</span></div><div style="font-family:
                        inherit; text-align: inherit">&nbsp;</div><div style="font-family: inherit; text-align:
                        inherit"><span style="line-height: 1.38; background-color: transparent; margin-top:
                        0pt; margin-bottom: 0pt; font-size: 10.5pt; font-family: Arial; color: #212121;
                        font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps:
                        normal; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line:
                        none; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color:
                        initial; vertical-align: baseline; white-space: pre-wrap">If you’d like to learn
                        about the story behind your impact, see where it’s taking place, and gain deeper
                        insight into what it means for the planet you can activate your personalised Greenspark
                        dashboard. It’s completely free as a gift from us to you. Follow the link below
                        to discover more!</span></div><div style="font-family: inherit; text-align: inherit">&nbsp;</div><div
                        style="font-family: inherit; text-align: inherit"><span style="line-height: 1.38;
                        background-color: transparent; margin-top: 0pt; margin-bottom: 0pt; font-size:
                        10.5pt; font-family: Arial; color: #212121; font-weight: 400; font-style: normal;
                        font-variant-ligatures: normal; font-variant-caps: normal; font-variant-numeric:
                        normal; font-variant-east-asian: normal; text-decoration-line: none; text-decoration-thickness:
                        initial; text-decoration-style: initial; text-decoration-color: initial; vertical-align:
                        baseline; white-space: pre-wrap">Many thanks,&nbsp;</span></div><div style="font-family:
                        inherit; text-align: inherit">&nbsp;</div><div style="font-family: inherit; text-align:
                        inherit"><span style="line-height: 1.38; background-color: transparent; margin-top:
                        0pt; margin-bottom: 0pt; font-size: 10.5pt; font-family: Arial; color: #212121;
                        font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps:
                        normal; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line:
                        none; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color:
                        initial; vertical-align: baseline; white-space: pre-wrap">{{{sellerName}}} &amp;
                        Greenspark</span><br></div>'
                      isBodyCustom: false
                      isFooterHidden: false
                      isFooterHiddenCustom: false
                      isTotalImpactHidden: false
                      isTotalImpactHiddenCustom: false
                    statuses:
                    - status: disabled
                      initiatedAt: '2026-05-26T14:06:53.231Z'
                      initiatedBy: system
                  - accountId: ''
                    isCustom: false
                    type:
                      name: Customer update
                      template: update
                      trigger:
                      - byLoyaltyPoints
                      - offsetByPercentageOrder
                      - offsetBySpend
                      - offsetByStoreRevenue
                      - offsetPerOrder
                      - offsetPerProduct
                      - byPercentageOfPaidInvoice
                      - byPercentageOfRevenue
                      - bySpendOfPaidInvoice
                      - byTieredSpendOfPaidInvoice
                      - perPaidInvoice
                      - offsetPerSubscription
                      - offsetPerReview
                      - perCompletedForm
                      - perSelectedAnswer
                      - customerCartContribution
                      isTriggerCustom: false
                      schedule: null
                      isScheduleCustom: false
                    settings:
                      from:
                        name: null
                        domain: null
                      alias: '{{{ sellerName }}} x Greenspark'
                      isAliasCustom: false
                      subject: Your {{{type}}} with {{{sellerName}}} {{{impactsTextPast}}}. Track your
                        impact here.
                      isSubjectCustom: false
                      preheader: Login to your Greenspark dashboard.
                      isPreheaderCustom: false
                      schedule:
                        startDate: '2026-05-26T14:06:53.231Z'
                        endDate: null
                        isEndDateCustom: false
                    content:
                      headerImage: http://res.cloudinary.com/dlilerh6s/image/upload/v1670515295/templates/abgf9boicpxujispedpy.png
                      isHeaderImageCustom: false
                      body: '<div style="font-family: inherit; text-align: inherit"><span style="font-family:
                        tahoma, geneva, sans-serif; font-style: normal; font-variant-ligatures: normal;
                        font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans:
                        2; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing:
                        0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style:
                        initial; text-decoration-color: initial; float: none; display: inline; font-size:
                        14px; color: #3b755f"><strong>Hi {{{ firstName }}},</strong></span></div><div
                        style="font-family: inherit; text-align: inherit"><br></div><div style="font-family:
                        inherit; text-align: inherit"><span style="white-space: pre-wrap">Thanks again
                        for your {{{ type }}}! </span><span style="color: #212121; font-family: tahoma,
[...]
